@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    /* width: 95.95vw; */
    height: 100vh;
    text-align: center;
}

header {
    background-color: gray;
    color: white;
}

header > h1 {
    padding: 10px;
}

header > p {
    width: 50%;
    display: inline-block;
    text-align: center;
}

header > span#icon-menu {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    /* margin-right: -5px; */
    padding: 10px;
    /* border: 1px solid lightgray; */
}

header > span#icon-menu:hover {
    text-decoration: underline;
    cursor: pointer;
}

header > menu#menu {
    display: none;
}

header > menu#menu dl {
    display: block;
}

header > menu#menu dl > dd {
    list-style-type: none;
}

header > menu#menu dl > dd > a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: wheat;
}

header > menu#menu dl > dd > a:hover {
    text-decoration: underline;
}

header a {
    /* text-decoration: none; */
    font-weight: bold;
    color: whitesmoke;
}

main {
    margin-bottom: 10px;
}

main > section > article > h2 {
    margin-top: 10px;
    background: linear-gradient(to right, gray, white);
}

main > section > article > p {
    text-align: justify;
    padding: 8px;
    margin: 8px;
}

main > section > article > ol, ul {
    text-align: left;
    margin-left: 40px;
}

main>section>article a {
    color: darkslategray;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

main>section>article a:hover {
    text-decoration: underline;
}

footer {
    background-color: gray;
    color: white;
    padding: 10px;
}

div#face {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-facebook.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

div#twitter {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-twitter.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

div#github {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-github.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}