@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: gray;
    text-align: center;
    color: white;
}

header>h1 {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

header>p {
    width: 70vw;
    display: inline-block;
    text-align: center;
}

header > p > a {
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}

header>span#icon-menu {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100vw;
    margin: 3px 0px;
    padding: 5px 0px;
}

header>span#icon-menu:hover {
    background-color: rgb(255, 255, 255);
    color: gray;
    cursor: pointer;
}

header>menu#menu {
    display: none;
}

header>menu#menu dl {
    display: block;
}

header>menu#menu dl>dd {
    list-style-type: none;
}

header>menu#menu dl>dd>a {
    display: block;
    margin: auto;
    color: wheat;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
}

header>menu#menu dl>dd>a:hover {
    text-decoration: underline;
}

header a {
    font-weight: bold;
    color: whitesmoke;
}

main>section {
    display: block;
    margin: auto;
    width: 90vw;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
}

main>section>article>h2 {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 3px 8px;
    background: linear-gradient(to right, gray, white);
    border-radius: 8px;
}

main>section>article>p {
    padding-right: 0px;
    text-indent: 5px;
    padding: 10px;
}

main>section>article>ol,
ul {
    list-style-type: none;
    margin-left: 10px;
}

main>section>article a {
    color: darkslategray;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

main>section>article a:hover {
    text-decoration: underline;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}

div#face {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-facebook.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

div#twitter {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-twitter.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

div#github {
    display: inline-block;
    text-align: center;
    background: url('../imagens/logo-github.jpg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

footer>a {
    padding: 5px;
    text-decoration: none;
}

footer>a>div:hover {
    transform: translate(-5px, -5px) rotate(360deg);
    transition: transform 0.5s;
    
}
